body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #092C5C; /* Navy blue background */
}

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
}

.how-to-play-overlay,
.pause-overlay,
.game-over-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Sans MS', sans-serif;
    z-index: 10;
}

.rays-logo {
    max-width: 120px;
    margin: 0 auto 5px;
    display: block;
}

.content-box,
.game-over-panel {
    background-color: #87CEEB;
    max-width: 800px;
    max-height: 600px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 8px solid #092C5C
}

.content-box h1,
.game-over-panel h1 {
    color: white;
    font-size: 38px;
    font-family: "Libre Baskerville", serif;
    -webkit-text-stroke: 1px #092C5C;
}

.content-box p {
    margin-bottom: 0px;
    color: #092C5C;
    line-height: 1.5;
    text-align: center;
    font-size: 16px;
}

.content-box input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.checkbox-container label {
    margin: 10px;
    font-size: 16px;
    color: #092C5C;
}

.bonus-points {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.bonus-icon {
    width: 100px;
    height: auto;
}

.start-button,
.resume-button,
.game-over-play-again {
    margin-bottom: 10px;
    width: 50%;
    font-weight: bold;
    background-color: #F5D130;
    color: #092C5C;
    border: 4px solid #092C5C;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-button:disabled {
    background-color: #ccc;
    border: none;
    cursor: not-allowed;
}

/* Legal links container */
.legal-links-container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 0 auto 15px;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
}

/* Legal link buttons */
.legal-link {
    background-color: #F5D130;
    color: #092C5C;
    border: 4px solid #092C5C;
    border-radius: 5px;
    padding: 5px 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.legal-link:hover,
.legal-link:active,
.start-button:not(:disabled):hover,
.start-button:active {
    background-color: #092C5C;
    color: #F5D130;
}

.score-text {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 24px;
    color: #F5D130;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    pointer-events: none;
}

.game-over-panel p {
    color: #092C5C;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}

/*Pause panel*/
.info-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.info-image {
    max-width: 75px;
    height: auto;
    margin-right: 10px; /* Space between image and text */
    border-radius: 5px;
    padding: 5px; /* Optional padding for visual spacing */
}

.info-text {
    font-size: 18px;
    color: #092C5C;
    margin: 0;
    text-align: center;
}

.info-text-container {
    display: flex;
    flex-direction: column; /* Stack text vertically */
    justify-content: center; /* Center text vertically relative to the image */
    align-items: flex-start; /* Align text to the left inside the container */
    gap: 5px; /* Stack text vertically */
}

/*Medals*/
.medal-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 75px;
}

.medal {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.3;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Positioning */
#silver-medal {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

#bronze-medal {
    top: 25px;
    right: 35%;
    transform: translateX(50%) rotate(15deg);
}

#gold-medal {
    top: 25px;
    left: 35%;
    transform: translateX(-50%)rotate(-15deg);
}

.trophy-container {
    display: flex;
    justify-content: center;
    margin: 0;
}

.trophy {
    width: 80px;
    height: auto;
    opacity: 0.3;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.medal.bright, .trophy.bright {
    opacity: 1;
}

.trophy.animated {
    transform: scale(1.5) rotate(10deg);
    animation: shake 0.6s ease;
}

.high-score-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Comic Sans MS', sans-serif;
    margin: 10px 0;
}

.high-score-table th,
.high-score-table td {
    padding: 5px;
}

.high-score-table th {
    background-color: #092C5C;
    color: #F5D130;
    font-weight: bold;
}

.high-score-table tr {
    background-color: white;
}

.highlight-row {
    background-color: #F5D130;
}

@keyframes shake {
    0%, 100% {
        transform: scale(1.5) rotate(10deg);
    }
    50% {
        transform: scale(1.5) rotate(-10deg);
    }
}

@media (max-width: 600px) {
    .game-container {
        padding: 10px;
    }

    .start-button,
    .resume-button,
    .game-over-play-again {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .content-box,
    .game-over-panel {
        max-width: 90%;
        max-height: 90%;
        font-size: 16px;
        padding: 10px;
    }

    .content-box h1,
    .game-over-panel h1 {
        font-size: 24px;
        line-height: .2;
        margin-top: 10px;
    }

    .content-box p,
    .checkbox-container label, {
        font-size: 20px;
    }

    .legal-links-container {
        width: 95%;
        gap: 7px;
        padding: 5px;
        margin-top: 10px;
    }

    .legal-link {
        gap: 5px;
        padding: 5px 5px;
        font-size: 12px;
    }

    .bonus-points {
        gap: 5px;
    }

    .bonus-icon {
        width: 50px;
    }
}

/* Medium Screens */
@media (min-width: 601px) and (max-width: 1024px) {
    .start-button {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .content-box,
    .game-over-panel {
        max-width: 90%;
        max-height: 90%;
    }

    .legal-links-container {
        width: 95%;
        gap: 20px;
        padding: 15px;
        margin-top: 15px;
    }

    .legal-link {
        gap: 20px;
        padding:  10px 25px;
        font-size: 16px;
    }

    .content-box h1,
    .game-over-panel h1 {
        margin-top: 5px;
        font-size: 32px;
    }

    .content-box p,
    .checkbox-container label {
        font-size: 16px;
    }

    .bonus-points {
        gap: 10px;
    }

    .bonus-icon {
        width: 75px;
        height: auto;
    }
}

/* Large Screens */
@media (min-width: 1025px) {

    .legal-links-container {
        width: 95%;
        gap: 30px;
        padding: 20px;
    }
}